[Unit]
Description=Apache Kafka - broker
Documentation=http://docs.confluent.io/
After=network.target confluent-zookeeper.target

[Service]
Type=simple
User=cp-kafka
Group=confluent
Environment="KAFKA_LOG4J_OPTS=-Dlog4j.configuration=file:/opt/confluent/kafka/log4j.properties"
Environment="KAFKA_OPTS=-javaagent:/opt/confluent/prometheus/jmx_prometheus_javaagent-0.19.0.jar=1234:/opt/confluent/prometheus/kafka_broker.yml"
ExecStart=/usr/bin/kafka-server-start /opt/confluent/kafka/server.properties
LimitNOFILE=1000000
TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target
